# <font color='blue'>Curso de Extensão - Introdução a Linguagem Python para Ciência de Dados - Aula 1 - Exemplos</font>

## Operações matemáticas

In [1]:
x = 20
print("Hello ",x, " World -")
print("2+x=",2+x)
print("56 x X = ",56*x)
print("Quadrado de x:", x**2)
print("Divide por 5: ", x/5)
x

Hello  20  World -
2+x= 22
56 x X =  1120
Quadrado de x: 400
Divide por 5:  4.0

20

In [2]:
x=10
2+x

12

In [ ]:
#Identificando o tipo de dado usando type()
x,y,z = 5.2,3,4
print("x:",x)
print("y:",y)
type(x)

x: 5.2
y: 3

float

## Manipulando Strings

In [ ]:
#Concatenando strings
hello = 'hello'
world = 'world'
hw = hello+' ' + world
print(hw)
hw2 = 'teste: %s , %s,  %d' % (hello,world,12)
print(hw2)
print('teste: '+ hello, ", ",world,", ", 12)

hello world
teste: hello , world,  12
teste: hello ,  world ,  12

In [ ]:
#Extraindo caracteres de strings
mystring2="PYTHON"
#String na posição 5
print(mystring2[5])
#String na posição 4 contando da direita para esquerda
print(mystring2[-4])
#concatenação de strings
print(mystring2*4)
#Imprime a string a partir da posição 1
print(mystring2[1:])
#Imprime a string da primeira até a terceira posição
print(mystring2[1:4])

N
T
PYTHONPYTHONPYTHONPYTHON
YTHON
YTH

## Listas

In [ ]:
#Criando uma lista de strings
b = ['carro','passaro','5']
type(b)
b

['carro', 'passaro', '5']

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums)
print(nums[7:9])
print(nums[5:])
print(nums[:5])
print(nums[:])
#Elimina o ultimo elemento
print(nums[:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[7, 8]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Loops - Exemplo lendo o array nums
squares = []
for i in nums:
    print("Antes: ", i)
    #grava em uma nova lista elevando ao quadrado os números da lista nums
    squares.append(i**2)
    j = i**2
    print("Depois: ", j)
print (squares)

Antes:  0
Depois:  0
Antes:  1
Depois:  1
Antes:  2
Depois:  4
Antes:  3
Depois:  9
Antes:  4
Depois:  16
Antes:  5
Depois:  25
Antes:  6
Depois:  36
Antes:  7
Depois:  49
Antes:  8
Depois:  64
Antes:  9
Depois:  81
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
newNums =  [35,45,66]
#Concatenando duas listas
print(nums+newNums+squares)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 35, 45, 66, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Funções

In [ ]:
#Criando a função sinal que identifica se o número é positivo, negativo ou zero
#input type: int
def sinal(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [ ]:
#Chamando uma função
for x in [-10, 0, 20, 55]:
    print (x," is ",sinal(x))

-10  is  negative
0  is  zero
20  is  positive
55  is  positive

In [ ]:
#Criando a função
def multiplica(x,y):
    print(x*y*2)

In [ ]:
#Chamando a função multiplica
x=multiplica(7,3)
print(x)

42
None

## Tupla

In [ ]:
#Criando uma tupla com diferentes tipos de dados
x=(1,2,3,4,"false",3.56,"novoregistro",False)
print(x)
print(type(x))

(1, 2, 3, 4, 'false', 3.56, 'novoregistro', False)
<class 'tuple'>

## Dicionário

In [ ]:
mydict={"first_name":"ratnakar", "last_name":"pandey","city":"bangalore","country":"india"}
print(mydict)
print("Keys: ", mydict.keys())
print("Values:", mydict.values())

{'first_name': 'ratnakar', 'last_name': 'pandey', 'city': 'bangalore', 'country': 'india'}
Keys:  dict_keys(['first_name', 'last_name', 'city', 'country'])
Values: dict_values(['ratnakar', 'pandey', 'bangalore', 'india'])

In [ ]:
print("City: ", mydict['city'])
#atualizando a lista com um novo elemento chave+valor
mydict.update({'state':'ka'})
# atualizando um valor da chave
mydict.update({'last_name':'osoko'})
print(mydict)

City:  bangalore
{'first_name': 'ratnakar', 'last_name': 'osoko', 'city': 'bangalore', 'country': 'india', 'state': 'ka'}

In [ ]:
#Adicionando um novo elemento chave+valor no dicionário
mydict['age'] = '35'
print(mydict)

{'first_name': 'ratnakar', 'last_name': 'osoko', 'city': 'bangalore', 'country': 'india', 'state': 'ka', 'age': '35'}

In [ ]:
#Imprimir apenas um valor da lista a partir da chave
print(mydict['last_name'])

osoko

## Exceções

In [ ]:
try:
    #Ask for ussers to input certain information
    value=input("Please enter a numeric value:")
    result = 1/float(value)
    print("1/"+value+"="+str(result))
except ValueError as error:
    print("What you entered is not a numeric value!Please try again!")
except ZeroDivisionError as error:
    print("Oops can't divide by 0!")
finally:
    print("Processing Completed-Hope you found what you were looking for")

Please enter a numeric value:oi
What you entered is not a numeric value!Please try again!
Processing Completed-Hope you found what you were looking for