# <font color='blue'>Curso de Extensão - Análise de Dados em Python - Exercícios Numpy & Pandas</font>

In [1]:
import numpy as np
import pandas as pd

#### 1) Crie o dataframe "medidas_df" contendo informações de peso e altura a partir do dicionário a seguir:

In [11]:
medidas_dict = {'Peso': (9999, 67, 70, np.nan, 86, 62, 75, 69, 50, 222),
                'Altura': (1.79, 1.65, 1.75, 1.60, 1.55, 9999, np.nan, np.nan, 1.82, np.nan),
        }
print(medidas_dict)

{'Peso': (9999, 67, 70, nan, 86, 62, 75, 69, 50, 222), 'Altura': (1.79, 1.65, 1.75, 1.6, 1.55, 9999, nan, nan, 1.82, nan)}

#### 2) Crie um novo dataframe que receba o dataframe "medidas_df" contendo os valores ruidosos substituídos por nullo (NaN).

In [23]:
medidas_df = pd.DataFrame(medidas_dict)
medidas_df[['Peso', 'Altura']] = medidas_df[['Peso', 'Altura']].replace({9999: np.nan, 222: np.nan})
print(medidas_df)
display(medidas_df)

   Peso  Altura
0   NaN    1.79
1  67.0    1.65
2  70.0    1.75
3   NaN    1.60
4  86.0    1.55
5  62.0     NaN
6  75.0     NaN
7  69.0     NaN
8  50.0    1.82
9   NaN     NaN

   Peso  Altura
0   NaN    1.79
1  67.0    1.65
2  70.0    1.75
3   NaN    1.60
4  86.0    1.55
5  62.0     NaN
6  75.0     NaN
7  69.0     NaN
8  50.0    1.82
9   NaN     NaN

#### 3) Crie um novo dataframe que receba o dataframe do exercício 2 contendo os valores nulos substituídos por valores reais. Escolha uma medida para realizar a substituição que pode ser média, mediana, min, max, etc.

In [24]:
newData=medidas_df
newData[['Peso','Altura']] = np.around(newData[['Peso','Altura']].fillna(newData[['Peso','Altura']].mean()),2)
print(newData)

    Peso  Altura
0  68.43    1.79
1  67.00    1.65
2  70.00    1.75
3  68.43    1.60
4  86.00    1.55
5  62.00    1.69
6  75.00    1.69
7  69.00    1.69
8  50.00    1.82
9  68.43    1.69

#### 4) Carregue uma tabela utilizando uma url, e atribua o DataFrame a uma variável chamada ```chipo_df```

URL: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

In [2]:
#utilize o método read_csv
#faça a análise descritiva dos dados

In [30]:
chipo_df = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

#### 5) Verifique a quantidade de linhas e colunas do dataframe ```chipo_df``` e imprima o nome das colunas.

In [43]:
#print(len(chipo_df))
print("Numero de colunas:",len(chipo_df.columns))
print("numero de linhas:",len(chipo_df))
display(chipo_df)

Numero de colunas: 5
numero de linhas: 4622

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 6) Ordene o dataframe ```chipo_df``` de acordo com o nome dos itens. Utilize o método df.sort_values().

#### 7) Exclua a 6ª e 14ª linhas do dataframe ```chipo_df```.

#### 8) Crie uma função que calcule e retorne a quantidade de Steak Burrito vendidos no dataframe ```chipo_df```.

#### 9) Calcule o valor total vendido de cada item. Para tal será necessário transformar o campo item_price para numérico da seguinte forma:

In [1]:
#Elimina o $ da frente do valor
#Apply é um método usado para aplicar uma função em cada registro de uma determinada coluna ou linha.
#chipo_df.item_price = chipo_df.item_price.apply(lambda x: x.replace('$',''))

In [2]:
#Converte os valores da coluna de string para numérico
#chipo_df.item_price = pd.to_numeric(chipo_df.item_price, errors='coerce')

#### 10) Verifique quais foram os valores de venda média, mínima e máxima do dataframe ```chipo_df```.

#### 11) Quantos produtos custam mais que \$10.00 no dataframe ```chipo_df``` ?

#### 12) Adicione mais uma coluna chamada delivery ao final do dataframe ```chipo_df``` que contenha o valor final com a adição de 3% de taxa de entrega para cada venda, arredondando os valores para 2 casas decimais.

#### 13) Calcule quantas vezes o produto Canned Soda foi vendido mais do que uma vez em uma mesma venda (quantidade >1) no dataset ```chipo_df```.